form {

     padding: 2rem;  
     
     backdrop-filter: blur(6px);  
    
    .form-group {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 1rem 2rem;
        background: transparent;
        outline: none;

        &.form-D{
            label{
                font-size: 1.2rem;
                color: black;
            }
            textarea{
                border: none;
                font-size: 1.2rem;
                font-weight: 100;
                color: black;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
                border-bottom: 1px solid grey;
                height: 6rem;
                width: 70%;

                background: transparent;
                outline: none;

                &:focus {
                    border-bottom: 2px solid #05f7ff;
                }}
        }

        label{
            font-size: 1.2rem;
            color: black;
        }

        input {
                border: none;
                cursor: pointer;
                font-family:Arial, Helvetica, sans-serif;
                width: 70%;
                font-size: 1rem;
                color: #000;
                background: transparent;
                border-bottom: 1px solid grey;
                transition: all 0.3s ease-in-out;
                margin-bottom: 0.2rem;
                // margin-top: 0.6rem;
               
                &:focus{
                    border: none;
                    outline: none;
                    border-bottom: 2px solid #05f7ff;
                }
        }   
                &.solo{
                  
                    button{
                        color: black;
                        height: 2.5rem;
                        cursor: pointer;
                        border: none;
                        background: #25E4B4 ;
                        text-transform: uppercase;
                        border-radius: 10px;
                        border: none;
                        width: 50%;

                        &:focus{
                            border: none;
                            // outline: none;
                        }  
                    }   
                }
                p {
                    color: red;
                    font-size: 0.8rem; 
                }      
}
}

@media screen and (max-width: 960px) {
    form{
        padding: 0rem;

        .form-group{
            padding: 0;
            flex-direction: column;
            margin: 0.4rem;

            label{
                font-size: 1rem;
            }
    
            input {
                    width: 90%;
                    font-size: 1rem;
                    
            }
            
            &.form-D{
            
                textarea{                 
                    width: 90%;
                    font-size: 1rem;

                        }
            }
            &.solo{
                  
                button{
                    width: 80%;
                    margin:0.5rem 0.8rem 0.5rem 0.8rem;

                    &:focus{
                        border: none;
                        // outline: none;
                    }  
                }   
            }
            p {
                color: red;
                font-size: 0.8rem; 
            }      
        }
        
        
    }
    
}