.bottom-line{
    background: lightcoral;
    height: 2px;
    width: 7%;
    margin: 0% 47%;
    margin-bottom: 1rem;
} 

.section_title{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 0.5rem;
    font-weight: 300;
    position: relative;
  }  

  @media screen and (max-width: 960px) {
    .section_title{
        padding: 0;
        font-size: 24px ;
      }       
  }

  
