* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}


body {
    font-family: 'Raleway', sans-serif;

    background-image: url("./dist/img/pl.jpg");

    height: 100%;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 1280px;
    margin: 0 auto;
    position: relative;
}

a {
    text-decoration: none;
}