// ::-webkit-scrollbar {
//     display: none;
// }

.container_hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10% 12%;
    background: url("../../../dist/img/artist.jpeg");
    background-size: 25% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    margin: 1rem;
    border-radius: 2rem;

    .ellipse{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.header {
    
    &-home {
    // background: center contain url('../../../dist/img/artist.jpeg');
    backdrop-filter: grayscale(1);
    // background-position: 25% 75%;
    // background-repeat: no-repeat;
    // background-size: cover;  
    // height: 100%;
    // overflow: hidden;
    
    .header-content{
        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 3px solid coral;
            width: 18%;
        }

        h1{
            color: #fff;
            font-size: 5rem;
            font-weight: 500;

            @media screen and (max-width: 960px) {
                font-size: 2.5rem;
            }

        }

        p{
            color: #fff;
            font-size: 2rem;
            font-weight: 400;
        }

        .typewriting-effect{
            color: #fff;
            font-size: 2rem;
        }
    }    
}
}

// .container {
//     padding: 0 1.5rem;
//     margin: auto;
//     overflow: hidden;
//     max-width: 1280px;
// }

#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    
    img{
        height: 50px;
        width: 50px;
    }

    ul  {
    display: flex;
    
        }   
    li {
        padding: 1rem 1.5rem;
        list-style-type: none;
    }

        a {
        text-decoration: none;  
        color: #fff;
        text-transform: uppercase;
        border-bottom: 2px transparent solid;
        // padding-bottom: 0.5rem;
        transition: border-color 0.5s;
        
         &:hover{
            border-color: #ccc;
         }

         &.current{
            border-color: #ffbc00;
             }

    
         }
         
}

%btn-shared {
    display: inline-block;
    transition: all 0.5s;
    border: none;
    cursor: pointer;
}
.btn {
    &-main {
        @extend %btn-shared;
        background: whitesmoke;
        color: black;
        border: 3px #fff solid;
        font-size: 1rem;
        font-weight: 500;
        margin: 0.6rem 6rem 0.8rem 0;
        padding: 0.8rem 0.8rem;
        text-transform: uppercase;

        &:hover{
            background-color: #25E4B4;
        }
        &:focus{
            outline: none;
            border: #ffbc00;
            }
    
    }
    &-light {
        @extend %btn-shared;
        color: #333;
        background-color: lightblue;
        margin-left: 80%;
        // margin-top: 10%;
        width: 10%;
        -webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
        
    }
    &-dark {
        @extend %btn-shared;
        color: #333;
        background-color: darkblue;
    }
}

button [class^='btn-']:hover, 
a[class^='btn-']:hover,
input[class^='btn-']:hover {
    background-color: #25E4B4;
}

.lead {
    font-size: 1.3rem;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .container_hero{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 8%;
    }

    .ellipse{
        padding: 0;
        margin: 0;
    }

    .round{
        display: none;
    }

    .header-home{
        height: auto;
    }

    .btn-main { 
        font-size: 1rem; 
        margin: 0.2rem;
        padding: 0.8rem 0.8rem;
    }
}



